# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
env/
env-bak/

# IDE specific
.idea/
.vscode/

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Temporary files
*.swp
*.swo
*~

# Logs
*.log

# Package files
*.jar
*.war
*.ear
*.db
*.sqlite

# Ignore .env files
.env

# Ignore .ds_store all files
**/.DS_Store 
**.DS_Store    
*.DS_Store

# Ignore specific files and directories
**/*.csv
**/*.txt
**/node_modules/
**/files/
doc_loader/.DS_Store
github_loader/output.csv
issue_loader/output.csv
github_project_loader/example_loader/examples
github_project_loader/zkapp_project_loader/projects
