# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
env/
env-bak/
env/

# IDE specific
.idea/
.vscode/

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Temporary files
*.swp
*.swo
*~

# Logs
*.log

# Package files
*.jar
*.war
*.ear
*.db
*.sqlite

# Ignore .env files
.env

# Ignore .ds_store files
.DS_Store

# Ignore all folders named "node_modules"
**/node_modules/

# Ignore all folders named "files"
**/files/
**/.DS_Store
